.obsidian/

.obsidian/workspace-mobile.json
.obsidian/workspace.json
.obsidian/app.json

.trash/
.DS_Store
/게임 상세 기획서/
/게임 상세 기획서.md
/캡스톤 클로드 참고 파일/
/캡스톤 클로드 참고 파일/CLAUDE.md
/캡스톤 클로드 참고 파일/DevelopLogSkill.md
/코딩 테스트/
/게임 캡스톤 기획서/